<ion-header>
    <ion-toolbar>
        <ion-title>Update Shipping</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="form" (submit)="submit()">
        <ion-item class="ion-no-padding">
            <ion-label position="fixed">Id</ion-label>
            <ion-input placeholder="Enter" type="number" formControlName="id"></ion-input>
            <ion-note slot="error">Invalid id</ion-note>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label position="fixed">OrderID</ion-label>
            <ion-input placeholder="Enter" type="text" formControlName="orderID"></ion-input>
            <ion-note slot="error">Invalid name</ion-note>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label position="fixed">Status</ion-label>
            <!-- <ion-input placeholder="Enter" type="text" ></ion-input>
            <ion-note slot="error">Invalid status</ion-note> -->
            <ion-select placeholder="Select Status" formControlName="status">
                <ion-select-option value="Đang chuẩn bị hàng">Đang chuẩn bị hàng</ion-select-option>
                <ion-select-option value="Đang giao">Đang giao</ion-select-option>
                <ion-select-option value="Đã giao">Đã giao</ion-select-option>
              </ion-select>
        </ion-item>
     
        <ion-button type="submit" expand="block" [disabled]="!form.valid">Update</ion-button>
    </form>
</ion-content>