<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" color="light">
    <!-- <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350"> -->
        <div class="ion-text-center">
            <div class="ion-padding">
                <ion-text color="primary">
                    <h2 style="font-size: 50px;"><b>THE GOD VALLEY OF ALL SNEAKER PLAYERS</b></h2>
                </ion-text>
            </div>
            <div class="ion-hide-xl-down">
                <ion-img src="../../../assets/images/307788143_620445336420853_6206715703216831151_n.png" id="content-img"></ion-img>
            </div>
            <div class="ion-hide-xl-up">
                <div class="ion-hide-lg-down">
                    <ion-img src="../../../assets/images/307788143_620445336420853_6206715703216831151_n.png" id="content-img"
                    style="width:100%;justify-content: center;align-items: center;"></ion-img>
                </div>
            </div>
            <div class="ion-hide-xl-up">
                <div class="ion-hide-lg-up">
                    <div class="ion-padding">
                        <ion-img src="../../../assets/images/307788143_620445336420853_6206715703216831151_n.png" 
                        style="width:100%;justify-content: center;align-items: center;"></ion-img>
                    </div>
                </div>
            </div>
            <div class="ion-padding">
                <p style="font-size: 24px;"><b>Come And Join?</b></p>
                <ion-button color="primary" style="font-size: large;font-weight:700;" shape="round" size="large"
                    (click)="signInWithGG()">
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                    LOGIN WITH GG
                </ion-button>
            </div>
        </div>
    <!-- </cdk-virtual-scroll-viewport> -->
</ion-content>