<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="isNotShow">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header class="menu-header">
            <div>
              <ion-img src="../assets/images/sneakers-logo.png" slot="start"
                style="height: 50px;width: 50px;margin-right: 5px;"></ion-img>
            </div>
            SNEAKER SHOP
          </ion-list-header>
          <ion-item lines="none" >
            <ion-avatar slot="start">
              <img src="{{user.photoURL}}" (error)="handleError($event)">
            </ion-avatar>
            <ion-label>{{user.name}}</ion-label>
          </ion-item>
          <div *ngIf="role == 'admin'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div  *ngIf="role == 'customer'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of customerPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        
        </ion-list>
        <ion-list id="labels-list">
          <ion-list-header class="menu-header">
            Account: {{user.email}}
          </ion-list-header>
          <ion-item lines="none" detail="false" class="account-menu-opt" (click)="presentActionSheet()" button>
            <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
            <ion-label>Sign Out</ion-label>
          </ion-item>
          <!-- <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>