ion-menu-button {
  color: var(--ion-color-primary);
}

ion-card:hover{
  cursor: pointer;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.add-dialog{
  width: 100%;
}

.paginator {
  .ngx-pagination {
      padding: 0;
      li:not(.current, .pagination-next, .pagination-previous) {
          background: rgba(235, 235, 235, 1);
      }

      a,
      .current {
          padding: 1rem 1.5rem;
      }
  }
}