<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Invoice</ion-title>
    <!-- <ion-progress-bar type="indeterminate" color="primary" *ngIf="progressShow"></ion-progress-bar> -->
    <!-- <ion-item class="ion-no-padding" detail="false" lines="none" slot="end" button
    (click)="openAddModal()">
      <span class="material-symbols-outlined" >
        add_notes
      </span>
    </ion-item> -->
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar show-clear-button="focus" placeholder="Show on Focus" [debounce]="1000"
      (ionChange)="handleChange($event)"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Invoice List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-no-padding">
    <ion-list [inset]="true" class="ion-no-padding" lines="inset">
      <ion-item-sliding *ngFor="let invoice of invoiceList | paginate : 
      { itemsPerPage: itemsPerPage, currentPage: currentPage }; 
      let i = index" [attr.data-index]="i">
        <ion-item button detail="false" class="ion-no-padding" (click)="openModal(invoice)">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/images/invoice.png" />
          </ion-thumbnail>
          <ion-label>Id: {{invoice.id}}</ion-label>
          <ion-label>OrderID: {{invoice.orderID}}</ion-label>
          <ion-label>CreatedAt: {{invoice.createAt}}</ion-label>
        </ion-item>
        <!-- <ion-item-options>
          <ion-item-option color="primary" (click)="openUpdateModal(ship.id)">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="presentDeleteActionSheet(ship.id)">Delete</ion-item-option>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-list>
  </div>
  <pagination-controls class="paginator" previousLabel="Prev" nextLabel="Next"
    (pageChange)="onChange($event)"></pagination-controls>
</ion-content>